@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  src: url('TeXGyreAdventor-Regular.eot');
  src: url('TeXGyreAdventor-Regular.woff2') format('woff2'),
       url('TeXGyreAdventor-Regular.woff') format('woff'),
       url('TeXGyreAdventor-Regular.ttf') format('truetype'),
       url('TeXGyreAdventor-Regular.svg#TeXGyreAdventor-Regular') format('svg'),
       url('TeXGyreAdventor-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
