RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*\.(html|htm))$ /$1.gz [L]

<FilesMatch "\.(html|txt)\.gz$">
    header set Content-Encoding gzip
    header set Content-Type text/html
</FilesMatch>
